.DS_Store
*.test

.idea/

3rdParty/*.tar.bz2
3rdParty/*.tar.gz
3rdParty/*.tar.xz

3rdParty/zlib/
3rdParty/boost/
3rdParty/boost*/
3rdParty/lksctp/
3rdParty/mbedtls/
3rdParty/openssl/
3rdParty/icu/

drivers/
